# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# ML model files
*.pt
*.pth
*.h5
*.pkl

# Firebase / secrets
serviceAccountKey.json
*.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log